/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.app-containter {
    flex-direction: column;
    flex-flow: column;
    display: flex;
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
}

header, .content, footer{ min-height: 25px; }

/*header { background: #FF9933; !* Indian Saffron *! }*/

.content {
    flex-grow: 1;
}

/*footer { background: #138808; !* India Green *! }*/