line {
    stroke: navy;
    stroke-width: 2
}

div.graph {
    /*border: 3px solid red;*/
    height: 50%;
    min-height: 300px;
    width: 50%;
    min-width: 500px;
    display: flex;
}
svg{
    border-bottom: 1px solid green;
    border-right: 1px solid red;
    flex-grow: 1;
}

div.y-axis {
    display: flex;
    flex-direction: column-reverse;
    width: 30px;
}
span.y-axis-dummy{
    width: 30px; /*Same as div.y-axis*/
}

div.x-axis {
    width: 50%;
    min-width: 500px;
    display: flex;
}

span.x-axis-label {
    flex-grow: 1;
    text-align: center;
}

span.y-axis-label{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    /*border: 1px solid green;*/
    align-items: center;
    display: inline-flex;
}