line {
    stroke: navy;
    stroke-width: 2
}

div.graph {
    border: 3px solid red;
    height: 50%;
    min-height: 300px;
    width: 50%;
    min-width: 500px;
    display: flex;
}
svg{
    border: 2px solid yellow;
    flex-grow: 1;
}

div.y-axis {
    border: 2px solid blue;
    display: flex;
    flex-direction: column-reverse;
}

div.x-axis {
    border: 3px solid red;
    width: 50%;
    min-width: 500px;
    display: flex;
}

span.x-axis-label {
    flex-grow: 1;
    text-align: center;
    border: 1px solid green;
}