<form [formGroup]="rcTcFormGroup">
    <mat-form-field class="form-field-main" appearance="fill" floatLabel="always">
        <mat-label>Voltage</mat-label>
        <input matInput type="number" formControlName="voltage" class="example-right-align">
    </mat-form-field>
    <mat-form-field class="form-field-unit-prefix" appearance="fill">
        <mat-select formControlName="voltagePrefix">
            <mat-option *ngFor="let siPrefix of siPrefixes" [value]="siPrefix.value">
                {{siPrefix.viewValue}}V
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field-main" appearance="fill" floatLabel="always">
        <mat-label>Resistance</mat-label>
        <input matInput type="number" formControlName="resistance" class="example-right-align">
    </mat-form-field>
    <mat-form-field class="form-field-unit-prefix" appearance="fill">
        <mat-select formControlName="resistancePrefix">
            <mat-option *ngFor="let siPrefix of siPrefixes" [value]="siPrefix.value">
                {{siPrefix.viewValue}}Ω
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field-main" appearance="fill" floatLabel="always">
        <mat-label>Capacitance</mat-label>
        <input matInput type="number" formControlName="capacitance" class="example-right-align">
    </mat-form-field>
    <mat-form-field class="form-field-unit-prefix" appearance="fill">
        <mat-select formControlName="capacitancePrefix">
            <mat-option *ngFor="let siPrefix of siPrefixes" [value]="siPrefix.value">
                {{siPrefix.viewValue}}F
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>

<div class="graph">
    <svg>
        <circle *ngFor="let dataPoint of graphData.dataPoints" [attr.cx]="dataPoint.xDist" [attr.cy]="dataPoint.yDist"
                r="0.1%" stroke="black"></circle>
        <line matTooltip="Info about the action" *ngFor="let dataLine of graphData.dataLines" [attr.x1]="dataLine.x1"
              [attr.y1]="dataLine.y1" [attr.x2]="dataLine.x2" [attr.y2]="dataLine.y2"></line>
    </svg>
    <div class="y-axis">
        <span *ngFor="let yLabel of graphData.yLabels" class="y-axis-label">{{yLabel}}</span>
    </div>
    <div class="y-axis-base">
        <p *ngIf="(1e3 <=graphData.dataYLabelBase)&&(graphData.dataYLabelBase<1e6)">kilo volt</p>
        <p *ngIf="(1e0 <=graphData.dataYLabelBase)&&(graphData.dataYLabelBase<1e3)">volt</p>
        <p *ngIf="(1e-3 <=graphData.dataYLabelBase)&&(graphData.dataYLabelBase<1)">milli volt</p>
    </div>
</div>
<div class="x-axis">
    <span *ngFor="let xLabel of graphData.xLabels" class="x-axis-label">{{xLabel}}</span>
    <span class="y-axis-dummy"></span>
</div>
<div class="x-axis-base">
    <label *ngIf="(1e-3 <=graphData.dataXLabelBase)&&(graphData.dataXLabelBase<1)">milli second</label>
    <label *ngIf="(1e-6 <=graphData.dataXLabelBase)&&(graphData.dataXLabelBase<1e-3 )">micro second</label>
    <label *ngIf="(1e-9 <=graphData.dataXLabelBase)&&(graphData.dataXLabelBase<1e-6 )">nano second</label>
    <label *ngIf="(1e-12<=graphData.dataXLabelBase)&&(graphData.dataXLabelBase<1e-9 )">pico second</label>
    <label *ngIf="(1e-15<=graphData.dataXLabelBase)&&(graphData.dataXLabelBase<1e-12)">femto second</label>
</div>
